<div data-elementor-type="header" data-elementor-id="6438" class="elementor elementor-6438 elementor-location-header" data-elementor-post-type="elementor_library">
	<div class="elementor-element elementor-element-2ef2bbc e-flex e-con-boxed e-con e-parent" data-id="2ef2bbc" data-element_type="container">
		<div class="e-con-inner">
		</div>
	</div>
	<div class="elementor-element elementor-element-13bc354 e-flex e-con-boxed e-con e-parent" data-id="13bc354" data-element_type="container">
		<div class="e-con-inner">
			<div class="elementor-element elementor-element-347c984 elementor-widget elementor-widget-image" data-id="347c984" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<a href="/">
						<img fetchpriority="high" width="465" height="158" src="/wp-content/uploads/2023/10/Sweetie-Photo-Logo-1a-SM-1.png" class="attachment-large size-large wp-image-7691" alt="" srcset="/wp-content/uploads/2023/10/Sweetie-Photo-Logo-1a-SM-1.png 465w, /wp-content/uploads/2023/10/Sweetie-Photo-Logo-1a-SM-1-300x102.png 300w" sizes="(max-width: 465px) 100vw, 465px">
					</a>
				</div>
			</div>
			<div class="elementor-element elementor-element-bceeb5b elementor-widget elementor-widget-ekit-nav-menu" data-id="bceeb5b" data-element_type="widget" data-widget_type="ekit-nav-menu.default">
				<div class="elementor-widget-container">
					<nav class="ekit-wid-con ekit_menu_responsive_tablet" data-hamburger-icon="" data-hamburger-icon-type="icon" data-responsive-breakpoint="1024">
						<button class="elementskit-menu-hamburger elementskit-menu-toggler" type="button" aria-label="hamburger-icon">
							<span class="elementskit-menu-hamburger-icon"></span><span class="elementskit-menu-hamburger-icon"></span><span class="elementskit-menu-hamburger-icon"></span>
						</button>
						<div id="ekit-megamenu-new-menu" class="elementskit-menu-container elementskit-menu-offcanvas-elements elementskit-navbar-nav-default ekit-nav-menu-one-page-no ekit-nav-dropdown-hover">
							<ul id="menu-new-menu" class="elementskit-navbar-nav elementskit-menu-po-center submenu-click-on-icon">
								<li id="menu-item-7485" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home {% if page.url == '/' %}current-menu-item page_item current_page_item active{% endif %} menu-item-7485 nav-item elementskit-mobile-builder-content" data-vertical-menu="750px">
									<a href="/" class="ekit-menu-nav-link {% if page.url == '/' %}active{% endif %}">Home</a>
								</li>
								<li id="menu-item-7484" class="menu-item menu-item-type-post_type menu-item-object-page {% if page.url == '/about-us-2/' %}current-menu-item page_item current_page_item active{% endif %} menu-item-7484 nav-item elementskit-mobile-builder-content" data-vertical-menu="750px">
									<a href="/about-us-2/" class="ekit-menu-nav-link {% if page.url == '/about-us-2/' %}active{% endif %}">About</a>
								</li>
								<li id="menu-item-7482" class="menu-item menu-item-type-post_type menu-item-object-page {% if page.url == '/pricing-guide/' %}current-menu-item page_item current_page_item active{% endif %} menu-item-7482 nav-item elementskit-mobile-builder-content" data-vertical-menu="750px">
									<a href="/pricing-guide/" class="ekit-menu-nav-link {% if page.url == '/pricing-guide/' %}active{% endif %}">Pricing Guide</a>
								</li>
								<li id="menu-item-7483" class="menu-item menu-item-type-post_type menu-item-object-page {% if page.url == '/gallery/' %}current-menu-item page_item current_page_item active{% endif %} menu-item-7483 nav-item elementskit-mobile-builder-content" data-vertical-menu="750px">
									<a href="/gallery/" class="ekit-menu-nav-link {% if page.url == '/gallery/' %}active{% endif %}">Portfolio</a>
								</li>
								<li id="menu-item-7481" class="menu-item menu-item-type-post_type menu-item-object-page {% if page.url == '/contact-3/' %}current-menu-item page_item current_page_item active{% endif %} menu-item-7481 nav-item elementskit-mobile-builder-content" data-vertical-menu="750px">
									<a href="/contact-3/" class="ekit-menu-nav-link {% if page.url == '/contact-3/' %}active{% endif %}">Contact</a>
								</li>
							</ul>
							<div class="elementskit-nav-identity-panel">
								<button class="elementskit-menu-close elementskit-menu-toggler" type="button">X</button>
							</div>
						</div>
						<div class="elementskit-menu-overlay elementskit-menu-offcanvas-elements elementskit-menu-toggler ekit-nav-menu--overlay"></div>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>