---
layout: base.njk
---
<div data-elementor-type="wp-page" data-elementor-id="{{ elementorId | default('7038') }}" class="elementor elementor-{{ elementorId | default('7038') }}" data-elementor-post-type="page">
{{ content | safe }}
</div>